
/* CSS landing Page Notes

*/

/* 1. Zero out margin, padding reset borders */

:root {
    --cardheight: 50vh;
    --cardwidth: 30vh;
    --cardcolor: slategray;

}


* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    letter-spacing: .20rem;
    line-height: 1.25rem;
}


img {
    display:block;
    width:100%;
}

    video {
        /* height:100%; */
        width:100%;
    display:block;
    object-position: center center;
}



/* 2.  Each page is 100vh */

body {
    height: 100vh;
    overflow:scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#phone-nav {
    display:none;
}


.desktop-nav {
    position: fixed;
    width: 100%;
    background-color: rgb(0 0 0);
    opacity:.75;
    z-index: 999;

}

.desktop-nav  > *{
    display:flex;
    gap: 5em;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    font-size: .95em;
    padding: 2rem;
}



nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    /* letter-spacing: .15em; */
}



#page-1 {
    min-height:100vh;
    width:100vw;
    background-image: url(Assets/ralph-mayhew-QkQ-rE_1sh8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#page-1 aside {
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    letter-spacing: .075rem;
    position: absolute;
    color: white;
    right:0rem;
    bottom: 2rem;
    font-size: 2rem;
    padding:1rem;
    line-height: 2rem;

}


/* Page 2 : consists of a grid 75% of screen with the product cards, 25% with a sugar lips image */

#page-2 {
    min-height:100vh;
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: black;
}

#card-area {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


#image-area {
    background-image: url(assets/sugar\ lips.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat; 
    background-color: black;
    /* width: vw; */
    height: 100vh;
}



/* Styling the card */

.card {
    width: var(--cardwidth);
    min-height:var(--cardheight);
    /* background-color: var(--cardcolor); */
    border-radius: 5%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    box-shadow: .5rem .5rem 1rem rgb(73, 73, 73);
    background-image:linear-gradient(to bottom right, slategray,lightgray);

}
.card h3 {
    padding:1rem;
    font-family: poppins, sans-serif;

}
.card-text {
    padding:1rem;
    font-family: poppins, sans-serif;
}

.card-image {
    background: white;
    width:100%;
    /* overflow:hidden; */

}

/* .explanation {
    width: 40%;
    color:white;

}*/



/* Page 3 Styling */


#page-3 {
    min-height:100vh;
    width: 100vw;
    position:relative;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}

#page-3 #banner-image {
    background-image: url(Assets/spoonful\ of\ sugar.jpg);
    width: 100%;
    background-color: black;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1 /3;
    grid-column: 1/7;


}
/* 
#page-3 #headline {

    grid-column: 4 /6;
    grid-row: 3 /4;
    color:black;
    font-family:raleway ,sans-serif;
    } */

#page-3 #product-description {
    font-family: raleway, sans-serif;
    grid-column: 4 /5;
    grid-row: 3 /6;
    color:black;
    Margin:1rem;

    }

    #page-3 #product-description li {
        list-style: none;
        line-height: 2rem;
    }
    

/* #page-3 #t-shirt-image {
    width:30vw;
    min-height:40vh; 
    background-color: gray;
    position: relative;
    top:-10vh;
    left: 30vh;
    background-image: url(Assets/t\ shirt.png);
    background-size: cover;
    background-repeat: no-repeat;
} */


#page-3 #t-shirt-image {
   grid-column: 2 /4;
   grid-row: 2/5;
   width:100%;
    /* background-image: url(Assets/t\ shirt.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; */
    object-fit: contain;
    object-position: center center;

}

#page-3 #buy-button {

    grid-row: 5/6;
    grid-column: 4/5;
    /* align-content: center;
    justify-items: center; */

}

#page-3 #buy-on-Amzn-button {
    grid-column: 5/6;
    grid-row:4/5;

}

/* height max-content set on flex-box, otherwise the individual SM icons stretch to fit grid element and can be activated off-icon */

#social-media-bar {
    display: flex;
    height:max-content;
    gap: .5rem;
    grid-column: 5/6;
    grid-row: 5/6;
}

#social-media-bar a {
    text-decoration: none;

}

#social-media-bar a:visited {   
    text-decoration: none;
    color: black;
}

#social-media-bar a:hover {
    color: red;
    box-shadow:1rem, 1rem, rgb(73, 73, 73);
}





/* Page 4 Styling */


#page-4 {
    min-height:100vh;
    background-image: url(Assets/sugar\ end.jpg) ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

#page-4 #email-signup {
    min-width:30vw;
    min-height:30vh;
    background-color: white;
    border-radius: 2%;
    box-shadow: 1rem 1rem 1rem rgb(43, 42, 42);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#page-4 #email-signup h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin: 1rem 0 0 0;
}

#page-4 #email-signup label {
    margin-left: 2em;
    
}


#first-name {
    display:flex;
    gap: 1rem;
    align-items: baseline;
    flex-wrap: wrap;
}

#last-name {
    display:flex;
    gap: 1rem;
    align-items: baseline;
    padding:5% 0;
    flex-wrap:wrap

}

#email {
    display:flex;
    gap: 1rem;
    align-items: baseline;
    justify-content:baseline;
    padding: 0 0 5% 0;
    flex-wrap:wrap;

}


.button {
    /* border-radius: 16px;
    /* border: 1px; */
    /* border-color: white;
    background-color: palevioletred;
    height: 2rem;
    width:max-content; */ */
}

.button a {
    border-radius: 20px;
    border: 1px;
    background-color: palevioletred;
    color: white;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
    margin:auto;
    position:relative;
    top:.5rem;
}


#page-4 #email-signup-btn {
    margin:auto;
/* position:relative;
left:50%; */
}


#product-description {

}



/* font awesome and other odds and ends */


    .fa-amazon {
        font-size: 10rem;
    }

    .fa-twitter, .fa-pinterest, .fa-whatsapp, .fa-facebook, .fa-instagram  {
        font-size: 2rem;

    }

    /* .fa-twitter {
        color:#55acee;

    }

    .fa-facebook {
        color: #3c589a;
    }

    .fa-pinterest {
        color:#cc2329;
    }

    .fa-instagram {
        color:white;
        background-image: linear-gradient(red,blue);
    }

    .fa-whatsapp {
    background-color:#55eb4c;
    color:white;
    } */


    /* Media Queries Change the Main Nav bar from text to icons */

    @media only screen and (max-width: 600px) {

    .desktop-nav {
          display:none;
    }
        
#phone-nav {
    padding-top: 1rem;
    display:flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: rgb(0 0 0);
    z-index: 999;
    height:10vw;
         
        } 
    #phone-nav > * {
        color: white;
        font-size:x-large;
    }

    #phone-nav > a:hover {
        color:red;
    }

    #page-1 {
        background-position: 90% center;
        ;
    }

    #page-2 {
        min-height:100vh;
        display:flex;
        background-color: black;
        /* background-image: url(Assets/sugar\ lips.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover; */
    }

    #page-2 #image-area
{
    display:none;
}

    #page-3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    #page-3 #product-description {
        text-align: center;
    }
    #page-3 #social-media-bar {
        padding: 1.5rem;
    }
        
  

    }




        .burger {
            width: 40px;
            height: 30px;
            float:right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 1rem;
            margin-right: 1rem;
        }

        .burger > div {
            background-color:white;
            height:3px;
        }

         #burger-link {
            background-color: red;
            
        } 